/* Base para todos los íconos */
.icon {
  width: 24px;
  height: 24px;
  background-color: var(--color-white);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.icon:hover {
  background-color: var(--color-green);
}

/* Variantes específicas con sus máscaras */
.twitter__icon {
  mask: url('/src/assets/images/icon/icon-twitter.svg') no-repeat center;
  mask-size: contain;
}

.github__icon {
  mask: url('/src/assets/images/icon/icon-github.svg') no-repeat center;
  mask-size: contain;
}

.frontendMentor__icon {
  mask: url('/src/assets/images/icon/icon-frontend-mentor.svg') no-repeat center;
  mask-size: contain;
}

.linkedin__icon {
  mask: url('/src/assets/images/icon/icon-linkedin.svg') no-repeat center;
  mask-size: contain;
}
