@import url("./baseconfig.css");

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    margin-top: -150px; /* Ajusta según el diseño */
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
    z-index: 1; /* Encima de los patterns */
}

.hero__image img {
  max-width: 174px;
  height: auto;
}

.hero__pattern {
  position: absolute;
  z-index: -1; /* Siempre detrás */
}

.hero__pattern_1 {
  top: 160px;
  left: -355px;
}

.hero__pattern_2 {
  top: 282px;
  right: -65px;
}

.hero__text {
    color: var(--color-white);
    width: clamp(300px, 100%, 343px);
}

.hero__title {
    font-size: clamp(2.3rem, 6vw, 2.5rem);
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -1.14px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.hero__description {
    font-size: clamp( 1rem, 3vw, 1.5rem);
    line-height: 28px;
    margin-bottom: 2rem;
    color: var(--clr-gray);
}

.hero__highlight {
    font-weight: bold;
    border-bottom: 4px solid var(--clr-green);
}

.btn > a {
    color: var(--clr-white);
    text-decoration: none;
}

.btn {
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 4px solid var(--clr-green);
    border-radius: 4px;
    background-color: var(--clr-black);
    transition: all 0.3s ease-in-out;
}