/* contenedor */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
}

/* capa de patterns */
.skill__patterns {
    position: absolute;
    inset: 0; /* ocupa todo el hero */
    pointer-events: none; /* que no interfiera con clicks */
    z-index: -1;
}

/* pattern genérico */
.skill__pattern {
  position: absolute;
  max-width: 530px;
  max-height: 129px;
}

/* anillo mobile → que se vea solo la mitad */
.skill__pattern--ring {
    top: 1272px;
    right: -320px;
}

/* items */
.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 343px;
}

.skills__title {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1px;
  font-weight: bold;
}

.skills__description {
  font-size: 16px;
  line-height: 26px;
  color: var(--clr-gray);
}

/* tablet */
@media (min-width: 768px) {
  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 708px;
    margin: 2rem auto 5.7rem;
  }

  .skills__item {
    align-items: flex-start;
    text-align: left;
  }

  .skills__pattern--ring {
    bottom: -250px;
    right: -100px;
  }
}

/* desktop */
@media (min-width: 1024px) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1024px;
  }

  .skill__pattern--ring {
    top: 970px;
    right: -370px;
}
}
